html {
    background: #fff;
    background-image: url("turvetausta.png");
    border: 0px solid white;
    background-attachment: fixed;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #222;
    font-family: "Futura", Futura, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    min-height: 100%;
    max-width: 800px;
    padding: 2em 2em 4em;
}



.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
    opacity: 0.97;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: peachpuff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

/* Style page content */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


h5 {
    color: black;
    font-family: "Futura", Futura, Arial, sans-serif;
    font-style:oblique
}


h5 {
    margin: auto;
    text-align: center;
    margin-bottom: 1px;
}

nav {
    background: #fff;
    color: black;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Futura", Futura, Arial, sans-serif;
    padding: 3px 0;
    display: block;
}

nav a {
    color:  white;
    text-decoration: none
}

nav li {
  margin: 0;
  padding: 0 60px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: peachpuff;
}

header {
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 80px ;
  color: #f3ccff;
}

.kansikuva {
    border: none;
   width: 40px;
    margin-bottom: 70px;
}

.kampanja {
  margin-top: 70px;
}

h2 {
    margin-bottom: 40px;
}
.tietoa {
  margin-top: 90px;  
}

.vaikuta {
  margin-top: 90px;
}


.uutisosio {
    margin-top: 90px;
    text-align: center;
}

p {
  font-family: 'Lora', serif;
}

.contact {
    text-align:right;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.contact a {
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 18px;
    position:relative;
    color:  black;
}

.contact a:active {
    top: 2px;
}


footer {
    color:black ;
}

footer a {
    color: black;
    text-decoration: none
}

footer {
    position: relative;
    height: 100px;
}

.footer-content {
    opacity: 0;
    position: absolute;
    background-color: white;
    min-width: 100px;
    padding: 10px 20px;
    z-index: 1;
    transition: 0.5s;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content ul li {
    float: left;
    padding: 10px 30px;
}

.alapalkki:hover .footer-content {
    opacity: 1;
    transition: 0.5s;
}


.kamppiskuva {
   border: none;
   width: 450px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}


.infokuva {
   border: none;
   width: 450px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="kuva"] {
        width: 100%;
    }

.vaikutuskuva {
   border: none;
   width: 450px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="vaikutuskuva"] {
        width: 100%;
    }
    
.uutiskuva {
    border: none;
    width: 700px;
    float: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="uutiskuva"] {
        width: 100%;
    }


}